In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'diario': ["Ámbito", "Clarín", "Crónica", "El Cohete a la Luna", "El Destape", "El Territorio", "IP Noticias", "Infobae", "La Nación", "La Voz del Interior", "Perfil", "Página/12", "TN"], 
                   'seguidores_tw': [229870 , 3187634, 773857 , 103547 , 445850 , 33051 , 31287 , 2857704 , 3520817 , 512950 , 190965 , 376774 , 5177886],"seguidores_ig":[52600,1000000,130600,79700,377000,43700,31400,1600000,1100000,357700,101000,533400,4100000]})
df
# seguidores_ig para comparar y ver si es una buena forma de clasificar.
# sacamos los seguidores en TR.??

                 diario  seguidores_tw  seguidores_ig
0                Ámbito         229870          52600
1                Clarín        3187634        1000000
2               Crónica         773857         130600
3   El Cohete a la Luna         103547          79700
4            El Destape         445850         377000
5         El Territorio          33051          43700
6           IP Noticias          31287          31400
7               Infobae        2857704        1600000
8             La Nación        3520817        1100000
9   La Voz del Interior         512950         357700
10               Perfil         190965         101000
11            Página/12         376774         533400
12                   TN        5177886        4100000

In [ ]:
df_tw = df.sort_values(by=['seguidores_tw'],ascending=False)
df_tw

                 diario  seguidores_tw  seguidores_ig
12                   TN        5177886        4100000
8             La Nación        3520817        1100000
1                Clarín        3187634        1000000
7               Infobae        2857704        1600000
2               Crónica         773857         130600
9   La Voz del Interior         512950         357700
4            El Destape         445850         377000
11            Página/12         376774         533400
0                Ámbito         229870          52600
10               Perfil         190965         101000
3   El Cohete a la Luna         103547          79700
5         El Territorio          33051          43700
6           IP Noticias          31287          31400

In [ ]:
df_ig = df.sort_values(by=['seguidores_ig'],ascending=False)
df_ig

                 diario  seguidores_tw  seguidores_ig
12                   TN        5177886        4100000
7               Infobae        2857704        1600000
8             La Nación        3520817        1100000
1                Clarín        3187634        1000000
11            Página/12         376774         533400
4            El Destape         445850         377000
9   La Voz del Interior         512950         357700
2               Crónica         773857         130600
10               Perfil         190965         101000
3   El Cohete a la Luna         103547          79700
0                Ámbito         229870          52600
5         El Territorio          33051          43700
6           IP Noticias          31287          31400